<div>
  <%= form_with model: info do |form| %>
    <div class="row mb-4 col-md-4">
      <div class="row md-4">
        <%= form.label :experience %>
        <%= form.text_field :title, :class => "col-md-3" %>
        <% info.errors.full_messages_for(:title).each do |message| %>
          <div><%= message %></div>
          <% end %>
      </div>
      
      <div class="row mb-4">
        <%= form.label :content %>
        <%= form.text_area :body, :class => "col-md-3" %>
        <% info.errors.full_messages_for(:body).each do |message| %>
          <div><%= message %></div>
          <% end %>
      </div>
        
    </div>
    
    
      <div>
        <%= form.submit "Kaydet" , :class => "btn btn-success"%>
      </div>
    <% end %>
</div> 