<%= form_with model: info do |form| %>
    <div>
      <%= form.label :experience %><br>
      <%= form.text_field :title %>
      <% info.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  
    <div>
      <%= form.label :content %><br>
      <%= form.text_area :body %><br>
      <% info.errors.full_messages_for(:body).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  
    <div>
      <%= form.submit "Kaydet" %>
    </div>
  <% end %>